<%- include("header") -%>

    <div class="box" id="heading">
        <h1 > Kerjaan <%= hariniadalah %> !</h1>
    </div>

    <div class="box">
       <% for (var i=0;i<listitemshows.length;i++){ %>
       <div class="item">
           <input type="checkbox">
           <p><%= listitemshows[i] %></p>
       </div>
          <%}%>
       <form class="item" action="/" method="post">
            <input type="text" name="additem" placeholder="Masukkan pekerjaan baru" autocomplete="off">
         <button type="submit" name="list" value=<%= hariniadalah %>>+</button>
    </div>

<%- include("footer") -%>

